<!DOCTYPE html>
<html>
<head>
	<title>mohan kumar</title>

</head>
<body>


</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome to S.R. India Voyages</title>

    <!-- Bootstrap -->
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
    <body>
    <div style="margin-left:30px;" class="">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    {% if data %}
                        {% for value in data %}
                            <td>
                                <p>{{ value.team1_name }} vs {{ value.team2_name }}</p>
                                {% for inning in value.scoreboard.innings %}
                                    <p>{{ inning.runs }}/{{inning.wickets}}</p>
                                {% endfor %}
                                <a class="btn btn-primary btn-xs" role="button" data-toggle="collapse" href="#collapseExample_{{value.key}}" data-value="{{ value.scoreboard.live.innings.required_run_rate }}^{{ value.scoreboard.live.innings.remaining_balls }}^{{ value.scoreboard.live.innings.remaining_overs }}^{{ value.scoreboard.live.status }}" aria-expanded="false" aria-controls="collapseExample">
                                  Link with href
                                </a>

                            </td>
                        {% endfor %}  
                    {% endif %}     
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">    
                            Score Info
                        </h4>
                    </div>
                    <div class="panel-body" id="scoreinfo">
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% if data %}
                        {% for value in data %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">    
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_{{value.key}}" aria-expanded="true" aria-controls="collapseOne">
                                            <div class="row">
                                            <div class="col-md-3">
                                                {{ value.team1_name }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ value.team2_name }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ value.start_time }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ value.live_match }}
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne_{{value.key}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    <p>{{ value.scoreboard.match.current_summary}}</p>
                                    <p>{{ value.scoreboard.live.innings.required_run_rate }}</p>
                                    <p>{{ value.scoreboard.live.innings.remaining_balls }}</p>
                                    <p>{{ value.scoreboard.live.innings.remaining_overs }}</p>
                                    <p>{{ value.scoreboard.live.status }}</p>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}  
                    {% endif %}    
                </div>
            </div>
        </div>
        
    	
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("table a").click(function(){
                    var value = $(this).data("value").split("^");
                    var htmlcontent = "";
                    for(var i = 0; i < value.length; i++){
                        htmlcontent += "<p>"+value[i]+"</p>";
                    }
                    $("#scoreinfo").html(htmlcontent);
                });
            });
        </script>
    </body>
</html>
